<div class="home">
  <h1>Poetic Pursuit</h1>
  <h3>A place to create and explore new and original poetry</h3>

  <h3>Inspiration to write or feel</h3>

  <div class="inspiration">
    <!-- <p><%= @poem.content %></p>
    <p>- <%= @poem.user.name %></p> -->

  </div>

</div>
