<h2>Categories</h2>

<div class="cats">
  <% @categories.each do |cat| %>
    <p><%= cat.name %><br>
    <%= cat.description %></p>
    <div><%= link_to 'SHOW', category_path(cat.id) %></div>
  <% end %>
</div>
